@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image:url(assets/bsackground1.jpg);
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black; 
    /* #454444; */
}
:root {
    --cor-gradiente-inicio: rgba(85, 208, 255, 1);
    --cor-gradiente-meio: rgba(216, 116, 247, 1);
    --cor-gradiente-fim: rgba(210, 74, 232, 1);
  }




header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 35px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    
}

.texto--menu {
    margin-top: 12px;
    color: #fff;
    text-decoration: none;
    font-family: "Days One", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    margin-right: 24px;
    text-align: center;
    text-align: justify;
    cursor: pointer;
    position: relative;

}
.menu {
    position: absolute;
    z-index: 2;
}
.centro {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: justify;
    margin-left: 130px;
    margin-top: 65px;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: 0.6s;
    
    
}

.titulo {
    font-size: 65px;
    font-family: "Do Hyeon", sans-serif;
    width: 362px;
    height: 56px;
    letter-spacing: 5px;
    padding: 8px;
    /* background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    transition: 0.5s;
    cursor: pointer;
}
 
    
.sub--titulo {
    font-size: 34px;
    font-family: "Do Hyeon", sans-serif;
    width:fit-content;
    height: fit-content;
    margin-left: 19px;
    letter-spacing: 7px;
    padding: 5px;
    background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 2px;
    transition: 0.5s;
    cursor: pointer;

}

.descricao {
    background-color: rgba( 0, 0, 0, 0.4);
    font-size: 18px;
    font-family: "Do Hyeon", sans-serif;
    width: 545px;
    height:fit-content;
    left: 1px;
    letter-spacing: 2px;
    align-items: center;
    text-align: justify;
    border-radius: 5px;
    padding: 17px;
    margin-left: 23px;
    transition: 0.5s;
    cursor: pointer;
}

.foto--caio {
    width: 500px;
    position: absolute; 
    top: 0px;
    left: 30px;
    margin-left: 700px;
    transition: transform 0.3s;
    animation: flutuar 4s infinite;
    transition: 0.7s;
    z-index: 1;
}

@keyframes flutuar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.botoes {
    display: flex;
    align-items: center;
    margin-left: 320px;
    margin-top: 16px;
    transition: 0.3s;

}

.estilos--botoes img {
    max-width: 40px;
    padding: 10px;
    transition: 0.3s;
}


.linha--vertical {
    left: 1px;
    padding: 17px;
    margin-left: 138px;
    margin-top: -104px;
    position: absolute;
    z-index: 9999;
    transition: 0.5s;
}
.centro2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    margin-left: 400px;
    margin-top: 50px;
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    
  
}
.foto--caio2 {
    width:600px;
    float: left;
    margin-right: 40px;
    position: absolute; 
    top: 0px;
    left: 10px;
    margin-left: 80px;
    margin-top: 40px;
    transition: transform 0.3s;
    animation: flutuar 4s infinite;
    transition: 0.4s;
}

.titulo2 {
    font-size: 65px;
    font-family: "Do Hyeon", sans-serif;
    letter-spacing: 5px;
    padding: 0px;
    background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 46px;
    transition: 0.5s;
    cursor: pointer;
    

}

.descricao2 {
    font-size: 15px;
    font-family: "Do Hyeon", sans-serif;
    width: 400px;
    height:fit-content;
    left: 1px;
    letter-spacing: 2px;
    text-align: left;
    padding: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    transition: 0.5s;
    cursor: pointer;
}

.botoes2 {
    display: flex;
    align-items: center;
    margin-left: 306px;
    margin-top: 290px;
    position: relative;
    opacity: 0.8;

}

.estilos--botoes2 img {
    max-width: 20px;
    padding: 10px;
}

.habilidades {
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 310px;
    left: 740px;
}

.icones {
    max-width: 85px;
    max-height: 85px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: 0.6s;
    
}

.linha2 {
    width: 310px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 415px;
    left: 740px;
}

.centro3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    /* margin-left: 400px;
    margin-top: 50px; */
    background-size: cover;
    text-align: center;
    justify-content: center;
    position: relative;
    z-index: 1;     
}

.projetos{
    display: flex;
    flex-direction: column;
    gap: 5em;
    padding: 4em 3em 0 3em;
}

.projetos__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projetos__conteudo__retangulo{
    margin-top: 1px;
    background-color: white;
    margin-left: 10em;
    margin-right: 2em;
    width: 0.8em;
    height: 15em;
    background:linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    
}

.projetos__conteudo__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetos__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.git--text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 120px;
    padding: 20px;
    text-align: center;
    color: white;
    width: fit-content;
    border-radius: 18px;
    background:linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    margin-bottom: 80px;
    transition: 0.4s;
}
.git--text:hover { 
    transform: scale(1.1);
}

.text--git2 {
    color: black;
    font-size: 25px;
    font-family:"Days One", sans-serif;;
    letter-spacing: 0px;
    transition: 0.4s;
    cursor: pointer;
    margin: 0;
}

.icone--git7 {
    width: 75px;
    height: 75px;
    margin-right: 25px;
    margin-left: 10px; 
}

.titulo3 {
    font-size: 50px;
    font-family: "Do Hyeon", sans-serif;
    letter-spacing: 5px;
    padding: 0px;
    background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 46px;
    align-items: center;
    text-align: center;

}

.projeto1 {
    width: 270px;
    height: 270px;
    padding: 8px;
    border: solid 4px transparent; /* Define a borda inicialmente transparente */
    border-image: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    border-image-slice: 1; /* Define como a borda é dividida */
    transition: 0.4s;
}

.projeto1:hover{
    padding: 0;
    width: 290px;
    height: 290px;
    padding: 0;
    transition: 0.5s ease-in-out;
}

.sub--titulo3 {
    font-size: 45px;
    font-family: "Do Hyeon", sans-serif;
    width:fit-content;
    height: fit-content;
    letter-spacing: 2px;
    padding: 0px;
    background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.4s;
    z-index: 55;
    cursor: pointer;
    z-index: 8;
    position: relative;
}

.sub--titulo3:hover {
    font-size: 55px;
}
.sub--titulo4:hover {
    font-size: 55px;
}


.texto--projeto {
    color: white;
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
    width: 545px;
    height:fit-content;
    letter-spacing: 1px;
    align-items: center;
    text-align: justify;
    padding: 12px;
    transition: 0.4s;
    position: relative;
    z-index: 5;    
}

.projeto-link {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-left: 580px;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',  sans-serif;
    font-size: 15px;
}

.github1 {
    max-width: 30px;
}

.confira {
    text-decoration: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 900px;
}

.projeto2 {
    width: 270px;
    height: 270px; 
    padding: 8px;
    position: absolute;;
    top: 470px;
    left: 200px;
    border: solid 4px transparent;
    border-image: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    border-image-slice: 1;
    transition: 0.4s;
    cursor: pointer;
    z-index: 4;
}

.projeto2:hover{
    padding: 0;
    width: 290px;
    height: 290px;
    padding: 0;
    transition: 0.5s ease-in-out;
}

.texto--projeto2 {
    align-items: center;
    margin-top: -5px;
    font-size: 30px;
    font-family: "Do Hyeon", sans-serif;
    width: 545px;
    height:fit-content;
    left: 1px;
    letter-spacing: 1px;
    align-items: center;
    text-align: justify;
    padding: 12px;
    position: relative;
    margin-left: 1100px;
    transition: 0.4s;
    cursor: pointer;
}

.sub--titulo4 {
    font-size: 45px;
    font-family: "Do Hyeon", sans-serif;
    width:fit-content;
    height: fit-content;
    letter-spacing: 2px;
    padding: 5px;
    background: rgb(249, 85, 255);
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 1175px;
    margin-top: 420px;
    transition: 0.4s;
    cursor: pointer;
}

.centro4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #fff;
    text-align: justify;
    margin-left: -672px;
    margin-top: 464px;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 1;    
}

.confira2 {
    text-decoration: none;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.titulo:hover {
    font-size: 72px;
}

.sub--titulo:hover {
    font-size: 44px;
}

.descricao:hover {
    font-size: 25px;
    text-align:left;
}

.estilos--botoes img:hover {
    max-width: 60px;
    padding: 10px;
}

.foto--caio:hover {
    width: 550px;
    position: absolute; 
    top: 0px;
    left: 30px;
    margin-left: 680px;
    animation: flutuar 3s infinite;
}


/* .habilidades:hover {
    width: 120%;

} */

.icones:hover {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    opacity: 0;
}

.icones {
    max-width: 85px;
    max-height: 85px;
    margin: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    transition: 0.6s;
    position: relative;
    cursor: pointer;
}

.texto-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s;
    color: white;
    font-size: 25px;
    font-family: "Days One", sans-serif;
    text-align: center;
    cursor: pointer;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

.icone-wrapper {
    position: relative;
    overflow: hidden;
}

.icone-wrapper:hover .texto-hover {
    opacity: 1;
}

.titulo2:hover {
    font-size: 72px;
}

.descricao2:hover {
    font-size: 18px;
    text-align:unset;
}

.foto--caio2:hover {
    width: 630px;
    position: absolute; 
}

/* .texto--menu:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 100%;
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
} */

.texto--projeto:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.texto--projeto2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.texto--menu.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 100%;
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
}

.texto--menu:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 4px;
    width: 100%;
    background: linear-gradient(357deg, rgba(85,208,255,1) 0%, rgba(216,116,247,1) 80%, rgba(210,74,232,1) 100%);
}


